body {
  background-color: rgb(250, 250, 250);
}

.parent {
  display: flex;
  height: 300px;
  /* Or whatever */
  background-color: blueviolet
}

.child {
  width: 100px;
  /* Or whatever */
  height: 100px;
  /* Or whatever */
  margin: auto;
  /* Magic! */
  background-color: beige;
}

.infected {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.recovered {
  border-bottom: 10px solid rgb(0, 250, 0, 0.5);
}

.deaths {
  border-bottom: 10px solid rgba(250, 0, 0, 0.5);
}

.countryPicker {
  min-width: 300px !important;
}